/* navbar */
.style-nav {
    background-color: #BC3908;
    opacity: .85;
}

.style-nav .navbar-nav a.nav-link {
    font-weight: 400;
    color: black;
}

.style-nav .navbar-nav .nav-link.active, 
.style-nav .navbar-nav .nav-link:hover {
    color: #f7b267;
} 

.navbar.scrolled {
    background-color: #fff;
    transition: background-color 0.5s ease;
    box-shadow: 0px -10px 30px #666;
    opacity: 1;
}

/* dropdown navbar */
@media screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
    .dropdown .dropdown-menu {
        display: none;
    }
    .dropdown:hover .dropdown-toggle::after {
        border-top: 0;
        border-bottom: .3em solid;
    }
}
@media screen and (max-width: 991px) {
    .dropdown-toggle.show::after {
        border-top: 0;
        border-bottom: .3em solid;
    }
}

/* jumbotron */
.banner {
    background: url(img/kantor1.png);
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 40%;
    color: #fff;
}

/* profil */
.profil-pejabat img {
    width: 200px;
    border: #000;
}

/* berita */
.main-judul {
    color: black;
}

a:hover {
    transition: color 0.5s ease;
}

#berita a {
    text-decoration: none;
    color: #000;
}

#berita a:hover {
    color: #f7b267;
}

/* download */
.download-file img {
    width: 35px;
    border-radius: 50%;
}

/* Suara Aduan */
.accordion-button {
    font-size: 20px;
    font-weight: 500;
}

.accordion-body {
    font-size: 18px;
}

.footer-aduan {
    font-size: 12px;
}

/* kontak */
.kontak-info img {
    width: 50px;
    border-radius: 50%;
}

/* FOOTER */
.main-orange {
    background-color: #bc3908;
    color: #fff;
}

.main-footer-menu .nav-link {
    color:#fff;
}

.main-footer-menu .nav-link:hover {
    color: #666;
}

.main-footer-menu .social-media:hover {
    background-image: #666;
}
